.recievemessage {
    display: flex;
    width: fit-content;
    background-color: #223b67;
    border-radius: 0px 8px 8px 8px;
    align-items: center;
    height: max-content;
    padding: 10px 8px;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: 80%;
    color: white;
    box-shadow: 4px 4px 8px rgb(145, 139, 139);
}


.ownmessage{
    display: flex;
    background-color: rgb(209, 196, 196);
    border-radius: 8px 0px 8px 8px;
    box-shadow: 4px 4px 8px rgb(8, 8, 218);
    align-items: center;
    height: max-content;
    width: fit-content;
    text-align: right;
    padding: 10px 8px;
    margin-left: auto;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: 80%;
    color: #333333;
}
